# Arquivos de estado do Terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Arquivos temporários
*.tfplan
*.out

# Arquivos de log e crash
terraform.log
crash.log

# Diretório .terraform gerado localmente
.terraform/

# Arquivos de backup do editor de texto
*~

# Arquivos de configuração do VSCode
.vscode/

# Ignore arquivos de configuração do Terraform Cloud (se estiver usando)
terraform.rc